.grid-container {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(8, [row] 1fr);
  grid-column-gap: 15px;
  }

.grid-item {
background-color: grey;
}

.item-1 {
  background-color: #cf556c;
}

.item-2 {
  background-color: #8fd3f4;
}

.item-3 {
  grid-column: col 1 / span 4;
  grid-row: row 3 / row 9;
  background-color: #f68084;
}
/*grid-column: col 1 / col 4;*/
