.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  height: 100vh;
  grid-auto-flow: column;
  }

  .grid-item {
  background-color: grey;
}

.item-1 {
  border: 5px orange solid;
  background-color: #cf556c;

}

/*
  .grid-item:nth-last-of-type(2),
  .grid-item:nth-last-of-type(3) {
    grid-column: span 2;
  }
*/

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  height: 100vh;
  }

  .grid-it {
  background-color: grey;
}

/*
.it-1 {
  border: 5px orange solid;
  background-color: #cf556c;

}
*/

.grid-it:nth-last-of-type(2) {
  order: 1;
}
