.grid-container {
  display: grid;
  grid-gap: 15px;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
/*grid-template-columns: repeat(auto-fill, minmax(100px, auto));*/

.grid-item {
background-color: grey;

}

.item-1 {
  background-color: #cf556c;
}
