.grid-container {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
  grid-gap: 15px;
  }

.grid-item {
background-color: grey;
min-height: 80px;
}

.item-1 {
  background-color: #cf556c;
  grid-column: col 1 / col 3;
}

.item-2 {
  background-color: #8fd3f4;
  grid-column: span 2;
  grid-row: span 2;
}
/*По-другому записать
grid-column: span 2;
grid-row: span 2;

grid-column: col 3 / col 5;
grid-row: row 1 /row 3;
*/

.item-3 {
  grid-column: col 5 / col 6;
  grid-row: row 1 /row 3;
  background-color: #f68084;
}
/*
.item-4 {
  background-color: #f68084;
}
.item-5 {
  background-color: #f68084;
}
.item-6 {
  background-color: #f68084;
}
.item-7 {
  background-color: #f68084;
}
.item-8 {
  background-color: #f68084;
}
*/
.item-9 {
  grid-column: col 2 / col 4;
  grid-row: row 3 /row 3;
  background-color: #f68084;
}
.item-10 {
  grid-column: col 4 / col 6;
  grid-row: row 3 /row 3;
  background-color: #f68084;
}
/*
.item-11 {
  background-color: #f68084;
}
*/
